#root {
	--orange-bg-color: #e56b1f;
	--purple-bg-color: #32064a;
	--text-color: #fff;
	--orange-title-color: #e56b1f;
	--purple-bg-color: #32064a;
}

.app {
	width: 100%;
	height: 100%;
}

.block-1 {
	height: 760px;
	width: 100%;
	background: var(--orange-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 115px;
}

.block-1__box {
	position: relative;
	display: flex;
	justify-content: center;
	width: 984px;
	height: 530px;
	padding-top: 40px;
}

.block-1__img {
	width: 100%;
	height: 462px;
	z-index: 10;
	object-fit: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.block-1__h1 {
	position: absolute;
	top: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-size: 256px;
	line-height: 1;
	width: 100%;
	text-align: center;
	z-index: 0;
	transform: scale(0.9, 1);
}

.text-gradient {
	width: 100%;
	color: #32064a;
	background: linear-gradient(0deg, #e56b1f 12%, #32064a 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.block-1__h2 {
	position: absolute;
	top: 500px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-size: 136px;
	line-height: 1;
	width: 100%;
	text-align: center;
	z-index: 0;
	transform: scale(0.9, 1);
}

.block-1__h3 {
	width: 552px;
	position: absolute;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	color: var(--text-color);
	top: 418px;
	font-size: 48px;
	z-index: 10;
	line-height: 120%;
}

.block-2 {
	position: relative;
	height: 952px;
	width: 100%;
	background: var(--purple-bg-color);
	padding-top: 172px;
	display: flex;
	justify-content: center;
}

.block-2__top-triangle {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 0;
	height: 0;
	border-top: 420px solid var(--orange-bg-color);
	border-right: 1600px solid transparent;
	z-index: 0;
}

.block-2__box {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	height: 764px;
	width: 1140px;
	gap: 20px;
	z-index: 10;
}

.block-2__column-1 {
	position: relative;
	width: 560px;
	padding: 336px 52px 0 20px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}

.block-2__h2 {
	width: 100%;
	font-weight: 300;
	font-size: 36px;
	font-family: 'Oswald', sans-serif;
	color: var(--text-color);
	line-height: 110%;
	word-wrap: break-word;
	margin-bottom: 30px;
}

.p {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	font-size: 16px;
	line-height: 160%;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	color: var(--text-color);
}

.block-2__column-1 p:has(+ p) {
	margin-bottom: calc(1rem * 1.6);
}

/* Модификаторы для <p></p> */
.p-center {
	text-align: center;
}
.p-block-3 {
	/* в макете в тексте в конце пустая строка, которая добавляет высоты, но я не могу такую поставить поэтому просто 25.6px добавим */
	padding-bottom: 25.6px;
}
.p-left:nth-of-type(2)::after {
	content: '\A';
	white-space: pre;
	display: block;
}

.block-2__right-mini-p-container {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.block-2__column-2 {
	position: relative;
	width: 560px;
	padding: 32px 30px 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 20px;
}

.block-2__right-text-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 20px;
	height: 480px;
	width: 100%;
}

.block2__right-text-container:last-child {
	margin-right: -20px;
}

/* Стиль для повёрнутого на 90 градусов текста */
.block-2__rotated-text {
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
	width: 190px; /* Высота текста после поворота становится шириной */
	height: 480px; /* Ширина текста после поворота становится высотой */
	color: var(--orange-title-color);
	text-transform: uppercase;
	line-height: 1;
	font-family: sans-serif;
	font-optical-sizing: auto;
	font-size: 46px;
	font-weight: 700;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.block-2__img {
	position: absolute;
	left: 50%;
	top: -20px;
	width: 720px;
	height: 356px;
	transform: translate(-50%, 0%);
	object-fit: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.block-3 {
	position: relative;
	height: 764px;
	width: 100%;
	background: var(--purple-bg-color);
	padding-top: 316px;
	display: flex;
	justify-content: center;
}

.block-3__img {
	position: absolute;
	left: 50%;
	top: 92px;
	width: 912px;
	height: 257px;
	transform: translate(-50%, 0%);
	object-fit: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.block-3__box {
	width: 712px;
	height: 284px;
	padding: 28px 20px 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 20px;
	z-index: 10;
}

.block-3__h2 {
	width: 100%;
	font-weight: 400;
	font-size: 36px;
	font-family: 'Oswald', sans-serif;
	color: var(--text-color);
	line-height: 110%;
	text-align: center;
}

.button {
	width: 132px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	text-decoration: none;
	border: 2px solid #fff;
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	font-size: 14px;
	line-height: 140%;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	color: var(--text-color);
	transition: ease 0.5s;
}

.button:hover {
	border: 0px solid transparent;
	opacity: 0.7;
}

.block-3__bottom-triangle {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 0;
	height: 0;
	border-left: 2000px solid var(--orange-bg-color);
	border-top: 320px solid transparent;
	z-index: 0;
}

.block-4 {
	height: 732px;
	width: 100%;
	background: var(--orange-bg-color);
	padding-top: 28px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.block-4__box {
	width: 1140px;
	height: 664px;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	gap: 20px;
}

.block-4__column-1 {
	position: relative;
	width: 560px;
	padding: 444px 20px 0 20px;
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.block-4__column-1:last-child {
	margin-bottom: -28px;
}

.block-4__h1 {
	position: absolute;
	top: -92px;
	left: 50%;
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-size: 256px;
	line-height: 1;
	width: 100%;
	text-align: center;
	transform: translate(-50%, 0) scale(0.9, 1);
}

.block-4__left-img {
	top: 150px;
	width: 100%;
	height: 288px;
	position: absolute;
	object-fit: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.block-4__h2 {
	width: 100%;
	font-weight: 300;
	font-size: 36px;
	font-family: 'Oswald', sans-serif;
	color: var(--text-color);
	line-height: 110%;
	word-wrap: break-word;
	text-align: left;
}

.block-4__column-2 {
	position: relative;
	width: 560px;
	padding: 268px 20px 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	gap: 20px;
}

.block-4__right-img {
	top: -28px;
	width: 100%;
	height: 240px;
	position: absolute;
	object-fit: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.block-5 {
	height: 972px;
	width: 100%;
	background: var(--purple-bg-color);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding-top: 86px;
}

.block-5__box {
	width: 1160px;
	height: 800px;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	gap: 20px;
}

.block-5__column-1 {
	width: 560px;
	padding: 42px 140px 0 24px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	gap: 30px;
}

.block-5__h2 {
	width: 100%;
	font-weight: 400;
	font-size: 36px;
	font-family: 'Oswald', sans-serif;
	color: var(--text-color);
	line-height: 110%;
	word-wrap: break-word;
	text-align: left;
}

.block-5__left-img {
	width: 498px;
	height: 340px;
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.block-5__column-2 {
	position: relative;
	width: 560px;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	gap: 20px;
	padding: 358px 35px 0 205px;
}

.block-5__right-img {
	position: absolute;
	right: 0;
	top: -116px;
	width: 606px;
	height: 352px;
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Стиль для повёрнутого на 90 градусов текста */
.block-5__rotated-text {
	writing-mode: vertical-rl;
	position: absolute;
	transform: rotate(-180deg);
	bottom: 69px;
	left: 64px;
	width: 82px; /* Высота текста после поворота становится шириной */
	height: 488px; /* Ширина текста после поворота становится высотой */
	color: var(--orange-title-color);
	text-transform: uppercase;
	line-height: 1;
	font-family: sans-serif;
	font-optical-sizing: auto;
	font-size: 38px;
	font-weight: 700;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.block-5__p-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	gap: 20px;
	width: 320px;
}

@media screen and (max-width: 1200px) {
	.block-1 {
		height: 786px;
	}
	.block-1__box {
		width: 812px;
		height: 666px;
	}
	.block-1__h1 {
		width: 984px;
	}
	.block-1__h2 {
		width: 984px;
		font-size: 120px;
		top: 508px;
	}
	.block-1__h3 {
		width: 454px;
	}

	.block-2 {
		height: 980px;
		padding-top: 22px;
	}
	.block-2__box {
		width: 960px;
		height: 982px;
	}
	.block-2__column-1 {
		width: 460px;
		padding: 464px 42px 0 20px;
	}
	.block-2__column-2 {
		width: 460px;
		padding: 32px 25px 0 16px;
	}
	.block-2__right-text-container {
		height: 500px;
	}
	.block-2__img {
		width: 594px;
	}
	.block-2__rotated-text {
		width: 152px;
		font-size: 38px;
		padding-top: 28px;
	}

	.block-3 {
		height: 680px;
	}
	.block-3__box {
		width: 554px;
	}

	.block-4 {
		height: 795px;
	}
	.block-4__box {
		width: 960px;
		height: 728px;
	}
	.block-4__column-1 {
		width: 460px;
	}
	.block-4__h1 {
		width: 560px;
	}
	.block-4__column-2 {
		width: 460px;
	}

	.block-5 {
		height: 1010px;
	}
	.block-5__box {
		width: 940px;
	}
	.block-5__column-1 {
		width: 460px;
		padding: 42px 70px 0 12px;
	}
	.block-5__column-2 {
		width: 460px;
		padding: 358px 35px 0 35px;
		gap: 12px;
	}
	.block-5__left-img {
		height: 340px;
		width: 408px;
	}
	.block-5__right-img {
		height: 324px;
		width: 500px;
	}
	.block-5__rotated-text {
		bottom: 69px;
		left: -69px;
	}
	.block-5__p-container {
		width: 390px;
	}
}

@media screen and (max-width: 992px) {
	/* высота такая же */
	.block-1 {
		height: 785px;
		padding-top: 60px;
	}
	/* высота такая же */
	.block-1__box {
		width: 620px;
		height: 666px;
		padding-top: 46px;
	}
	.block-1__h1 {
		width: 717px;
		font-size: 185px;
		transform: scale(1, 1);
	}
	.block-1__img {
		height: 338px;
	}
	.block-1__h2 {
		width: 526px;
		font-size: 100px;
		top: 384px;
		transform: scale(1, 1);
		display: flex;
		justify-content: center;
	}
	.block-1__h3 {
		width: 348px;
		top: 280px;
		left: 84px;
		text-align: left;
	}

	.block-2 {
		height: 1020px;
		padding-top: 22px;
	}
	.block-2__box {
		width: 740px;
		height: 980px;
	}
	.block-2__column-1 {
		width: 360px;
		padding: 464px 34px 0 12px;
	}
	.block-2__column-2 {
		width: 360px;
		padding: 116px 25px 0 16px;
	}
	.block-2__right-text-container {
		height: 584px;
	}
	.block-2__img {
		width: 628px;
		height: 356px;
		top: -21px;
		left: -50px;
		transform: translate(0, 0);
	}
	.block-2__rotated-text {
		width: 118px;
		font-size: 28px;
		padding: 0px;
		height: 320px;
		align-self: flex-start;
		/* херня полная, но я по другому не вижу*/
		margin-bottom: 180px;
	}

	.block-3 {
		height: 705px;
	}
	.block-3__img {
		height: 256px;
		width: 576px;
	}
	.block-3__box {
		width: 450px;
		height: 328px;
	}

	.block-4 {
		height: 1410px;
	}
	.block-4__box {
		width: 740px;
		height: 1360px;
		flex-direction: column;
	}
	.block-4__column-1 {
		width: 100%;
		height: 660px;
	}
	.block-4__h1 {
		width: 560px;
	}
	.block-4__column-2 {
		width: 100%;
	}
	.block-4__right-img {
		height: 268px;
	}

	.block-5 {
		height: 1560px;
	}
	.block-5__box {
		height: 1420px;
		width: 740px;
		flex-direction: column;
		align-items: center;
	}
	.block-5__column-1 {
		width: 100%;
		height: 702px;
		padding: 42px 70px 0 12px;
	}
	.block-5__column-2 {
		width: 100%;
		flex: 1;
		padding: 328px 30px 0 130px;
		gap: 12px;
	}
	.block-5__left-img {
		height: 340px;
		width: 564px;
	}
	.block-5__right-img {
		height: 324px;
		width: 570px;
		top: -16px;
	}
	.block-5__rotated-text {
		transform: rotate(-180deg);
		bottom: 0;
		left: 60px;
		width: 90px;
		height: 487px;
		z-index: 0;
	}
	.block-5__p-container {
		width: 100%;
		z-index: 10;
	}
}

@media screen and (max-width: 768px) {
	/* высота такая же */
	.block-1 {
		height: 785px;
		padding-top: 90px;
	}
	/* высота такая же */
	.block-1__box {
		width: 540px;
		height: 666px;
		padding-top: 46px;
	}
	.block-1__h1 {
		width: 570px;
		font-size: 146px;
		top: 38px;
		transform: scale(1, 1);
		display: flex;
		align-items: center;
	}
	.block-1__img {
		height: 475px;
		width: 540px;
	}
	.block-1__h2 {
		width: 506px;
		font-size: 100px;
		top: 486px;
		transform: scale(1, 1);
		line-height: 110%;
		display: flex;
		justify-content: center;
	}
	.block-1__h3 {
		width: 448px;
		top: 408px;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: left;
	}

	.block-2 {
		height: 1410px;
		padding-top: 22px;
	}
	.block-2__box {
		width: 540px;
		height: 1385px;
		flex-direction: column;
		align-items: center;
	}
	.block-2__column-1 {
		width: 100%;
		padding: 464px 34px 0 12px;
	}
	.block-2__column-2 {
		width: 100%;
		padding: 0px 12px 0 12px;
		gap: 35px;
	}
	.block-2__right-text-container {
		height: 200px;
		gap: 0px;
	}
	.block-2__img {
		width: 628px;
		height: 356px;
		top: -21px;
		left: -50px;
		transform: translate(0, 0);
	}
	.block-2__rotated-text {
		width: 110px;
		font-size: 28px;
		padding: 0px;
		height: 320px;
		align-self: flex-end;
		/* херня полная, но я по другому не вижу*/
		margin-bottom: 0px;
	}

	.block-3 {
		height: 705px;
		padding-top: 282px;
	}
	.block-3__img {
		height: 256px;
		width: 540px;
		top: 75px;
	}
	.block-3__box {
		width: 540px;
		height: 364px;
		padding: 56px 10px 0 10px;
	}

	.block-4 {
		height: 1630px;
		padding-top: 240px;
	}
	.block-4__box {
		width: 540px;
		height: 1346px;
		flex-direction: column;
	}
	.block-4__column-1 {
		width: 100%;
		height: 660px;
		/* поменяли отступы слева и справа */
		padding-left: 10px;
		padding-right: 10px;
	}
	.block-4__h1 {
		width: 560px;
		top: -180px;
	}
	.block-4__column-2 {
		width: 100%;
		/* поменяли отступы слева и справа */
		padding-left: 10px;
		padding-right: 10px;
	}
	.block-4__right-img {
		height: 268px;
	}

	.block-5 {
		height: 1568px;
	}
	.block-5__box {
		height: 1482px;
		width: 540px;
		flex-direction: column;
		align-items: center;
	}
	.block-5__column-1 {
		width: 100%;
		height: 768px;
		padding: 42px 70px 0 12px;
	}
	.block-5__column-2 {
		width: 100%;
		flex: 1;
		padding: 328px 16px 0 96px;
		gap: 12px;
	}
	/* у него нет position: absolute */
	.block-5__left-img {
		height: 340px;
		width: 528px;
		margin-left: -12px;
	}
	.block-5__right-img {
		height: 324px;
		width: 495px;
		top: -16px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.block-5__rotated-text {
		transform: rotate(-180deg);
		bottom: 20px;
		left: 0;
		width: 90px;
		height: 487px;
		z-index: 0;
	}
	.block-5__p-container {
		width: 100%;
		z-index: 10;
	}
}

@media screen and (max-width: 576px) {
	/* высота такая же */
	.block-1 {
		height: 785px;
		padding-top: 90px;
	}
	/* высота такая же */
	.block-1__box {
		width: 340px;
		height: 666px;
		padding-top: 120px;
	}
	.block-1__h1 {
		width: 385px;
		font-size: 100px;
		top: 120px;
		transform: scale(1, 1);
		display: flex;
		align-items: center;
	}
	.block-1__img {
		height: 196px;
		width: 340px;
	}
	.block-1__h2 {
		width: 340px;
		font-size: 66px;
		top: 456px;
		transform: scale(1, 1);
		line-height: 110%;
		display: flex;
		justify-content: center;
	}
	.block-1__h3 {
		width: 340px;
		top: 308px;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: left;
	}

	.block-2 {
		height: 1524px;
		padding-top: 0;
	}
	.block-2__box {
		width: 340px;
		height: 1448px;
		flex-direction: column;
		align-items: center;
	}
	.block-2__column-1 {
		width: 100%;
		height: 820px;
		/* блять, почему в двух одинаковых местах разный отступ справа(место №1) */
		padding: 336px 16px 0 6px;
	}
	.block-2__h2 {
		font-size: 24px;
	}
	.block-2__column-2 {
		width: 100%;
		/* блять, почему в двух одинаковых местах разный отступ справа(место №2) */
		padding: 0px 10px 0 6px;
		gap: 35px;
	}
	.block-2__right-text-container {
		height: 300px;
		gap: 16px;
	}
	.block-2__img {
		width: 440px;
		height: 295px;
		top: 90px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.block-2__rotated-text {
		width: 124px;
		font-size: 31px;
		padding: 0px;
		height: 320px;
		align-self: flex-end;
		/* херня полная, но я по другому не вижу*/
		margin-bottom: 0px;
		margin-right: -40px;
	}

	.block-3 {
		height: 635px;
		padding-top: 170px;
	}
	.block-3__img {
		height: 164px;
		width: 340px;
		top: 75px;
	}
	.block-3__box {
		width: 340px;
		height: 386px;
		padding: 36px 6px 0 6px;
	}
	.block-3__h2 {
		font-size: 24px;
	}

	.block-4 {
		height: 1716px;
		padding-top: 0;
	}
	.block-4__box {
		width: 340px;
		height: 1522px;
		flex-direction: column;
		gap: 20px;
	}
	.block-4__column-1 {
		width: 100%;
		height: 728px;
		/* поменяли отступы слева и справа */
		padding-left: 6px;
		padding-right: 6px;
		padding-top: 400px;
	}
	.block-4__h1 {
		width: 340px;
		font-size: 150px;
		top: 32px;
	}
	.block-4__h2 {
		font-size: 24px;
	}
	.block-4__left-img {
		top: 105px;
	}
	.block-4__column-2 {
		width: 100%;
		/* поменяли отступы слева и справа */
		padding-left: 6px;
		padding-right: 6px;
	}
	.block-4__right-img {
		height: 268px;
	}

	/* высота осталось такой же */
	.block-5 {
		height: 1772px;
		padding-top: 30px;
	}
	.block-5__box {
		height: 1730px;
		width: 340px;
		flex-direction: column;
		align-items: center;
	}
	.block-5__column-1 {
		width: 100%;
		height: 768px;
		padding: 42px 42px 0 7px;
	}
	.block-5__column-2 {
		width: 100%;
		flex: 1;
		padding: 406px 16px 0 60px;
		gap: 12px;
	}
	/* у него нет position: absolute, хотя стоило наверно*/
	.block-5__left-img {
		height: 200px;
		width: 340px;
		margin-left: -7px;
	}
	.block-5__right-img {
		height: 184px;
		width: 100%;
		top: 130px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.block-5__rotated-text {
		transform: rotate(-180deg);
		bottom: 192px;
		left: -30px;
		width: 80px;
		height: 444px;
		font-size: 34px;
		z-index: 0;
	}
	.block-5__p-container {
		width: 100%;
		z-index: 10;
	}
}
