* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
 
/* Скрываем scrollbar для IE, Edge и Firefox */
body {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: 0;  /* Firefox */
}
